<app-bread-crumb [title]="'randomEmployee' | translate"></app-bread-crumb>
<body>
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div *ngFor="let pic of nhanVienNgauNhien.picture; let i = index" [class.tab-pane]="true" [class.active]="i === 0" [attr.id]="'pic-' + (i + 1)">
                <img [src]="pic || 'https://img.lovepik.com/element/40078/8275.png_860.png'" alt="Image {{ i + 1 }}" />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li *ngFor="let pic of nhanVienNgauNhien.picture; let i = index" [class.active]="i === 0">
                <a [attr.data-target]="'#pic-' + (i + 1)" data-toggle="tab">
                  <img [src]="pic || 'https://img.lovepik.com/element/40078/8275.png_860.png'" alt="Image {{ i + 1 }}" />
                </a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">{{"ticketRandom" | translate}}</h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <h4 class="price">
              {{"price" | translate}}:

              <span *ngIf="nhanVienNgauNhien.priceTicket !== null"
                >{{ nhanVienNgauNhien.priceTicket | number : "1.0-3" }}vnđ</span
              >
            </h4>
            <p class="product-description">
              {{'contentEmployee' | translate}}
            </p>
            <h5 class="sizes">
              {{"serviceMassage1" | translate}}: <span>{{"serviceMassage2" | translate}}</span>
            </h5>
            <h4 class="price">{{"type" | translate}}: <span>Massage body</span></h4>

            <h5 class="sizes">
              {{"time" | translate}}:
              <select
                id="timeService"
                [(ngModel)]="selectedTimeService"
                (change)="loadNhanVienNgauNhien()"
              >
                <option value="60 phút">60 {{"minute" | translate}}</option>
                <option value="90 phút">90 {{"minute" | translate}}</option>
                <option value="120 phút">120 {{"minute" | translate}}</option>
              </select>
              <!-- <span class="size" data-toggle="tooltip" title="xtra large"
                >xl</span
              > -->
            </h5>

            <div data-mdb-input-init class="form-outline" style="width: 6rem">
              <input
                min="1"
                max="20"
                type="number"
                id="typeNumber"
                class="form-control"
                [defaultValue]="0"
                [(ngModel)]="selectedQuantity"
                (change)="loadNhanVienNgauNhien()"
              />
            </div>
            <br />
            <div class="action">
              <a routerLink="/console/dathang">
                <button class="add-to-cart btn btn-default" type="submit">
                  {{'BookNow' | translate}}
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
