<app-bread-crumb [title]="title"></app-bread-crumb>
<section id="explore" class="explore">
  <div class="container">
    <!-- <div class="section-header">
      <h2>Gói Massage Nhân Viên Ngẫu Nhiên</h2>
      <p>
        Gói Dịch Vụ Massage Tại Nhà, Khách Sạn Và Căn Hộ Lành Mạnh Chọn Nhân
        Viên Ngẫu Nhiên
      </p>
    </div> -->
    <!--/.section-header-->
    <div class="explore-content">
      <iframe
        class="bando"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.736146103993!2d108.22653061093229!3d16.079176139106792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142182461ec5e9b%3A0xb43cecea0d450692!2zMTY3IMSQLiBUcuG6p24gSMawbmcgxJDhuqFvLCBO4bqhaSBIacOqbiDEkMO0bmcsIFPGoW4gVHLDoCwgxJDDoCBO4bq1bmcgNTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1709710229499!5m2!1svi!2s"
        style="border: 0; border-radius: 30px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <!-- <a href="#" class="btn btn-white btn- animate">Click me</a> -->
      <!-- <div class="text-box">
      </div> -->
    </div>
  </div>
  <!--/.container-->
</section>
