<app-bread-crumb [title]="title"></app-bread-crumb>
<body>
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            <div class="preview-pic tab-content">
              <div *ngFor="let pic of singlePageNhanVien.picture; let i = index" [class.tab-pane]="true" [class.active]="i === 0" [attr.id]="'pic-' + (i + 1)">
                <img [src]="pic || 'https://img.lovepik.com/element/40078/8275.png_860.png'" alt="Image {{ i + 1 }}" />
              </div>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li *ngFor="let pic of singlePageNhanVien.picture; let i = index" [class.active]="i === 0">
                <a [attr.data-target]="'#pic-' + (i + 1)" data-toggle="tab">
                  <img [src]="pic || 'https://img.lovepik.com/element/40078/8275.png_860.png'" alt="Image {{ i + 1 }}" />
                </a>
              </li>
            </ul>
          </div>
          <div class="details col-md-6">
            <h3 class="product-title">
              Massage Tận Nhà - Nhân Viên {{ singlePageNhanVien.employeeCode }}
            </h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <span class="review-no">41 reviews</span>
            </div>
            <h4 class="price">
              Giá vé:

              <span *ngIf="singlePageNhanVien.priceTicket !== null"
                >{{
                  singlePageNhanVien.priceTicket | number : "1.0-3"
                }}vnđ</span
              >
            </h4>
            <p class="product-description">
              Freeship - Giá trọn gói (đã bao gồm tips) vui lòng chỉ thanh toán
              đúng giá vé
            </p>
            <h5 class="sizes">
              Không gian yên tĩnh: <span>Yên lặng không làm phiền</span>
            </h5>
            <h4 class="price">Loại hình: <span>Massage body</span></h4>

            <h5 class="sizes">
              Thời gian:
              <select
                id="timeService"
                [(ngModel)]="selectedTimeService"
                (change)="loadSinglePage()"
              >
                <option value="60 phút">60 phút</option>
                <option value="90 phút">90 phút</option>
                <option value="120 phút">120 phút</option>
              </select>
              <!-- <span class="size" data-toggle="tooltip" title="xtra large"
                >xl</span
              > -->
            </h5>

            <div class="action">
              <a routerLink="/console/dathang">
                <button class="add-to-cart btn btn-default" type="submit">
                  ĐẶT NGAY
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
