<!--welcome-hero start -->
<section id="home" class="welcome-hero">
  <!-- <div class="hotline">0935053171</div> -->
  <div class="container">
    <div class="welcome-hero-txt">
      <h2>
        Bạn ở đâu chúng tôi sẽ đến phục vụ bạn <br />Dù là nhà, khách sạn hay
        căn hộ...
      </h2>
      <p>
        Trải nghiệm dịch vụ massage tận nơi Đà Nẵng với nhiều ưu đãi hấp dẫn!
      </p>
    </div>
    <!-- <div class="welcome-hero-serch-box">
      <div class="welcome-hero-form">
        <div class="single-welcome-hero-form">
          <form action="" style="width: 100%">
            <input width="100%" type="text" placeholder="Tìm kiếm ngay..." />
          </form>
        </div>
      </div>
      <div class="welcome-hero-serch">
        <button class="welcome-hero-btn" onclick="window.location.href='#'">
          Tìm kiếm <i data-feather="search"></i>
        </button>
      </div>
    </div> -->

    <div class="welcome-hero-txt-bottom">
      <h2>Massage TanNoi</h2>
      <p>Dịch vụ Massage tận nơi Đà Nẵng</p>
    </div>
  </div>
</section>
<!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
  <div class="container">
    <div class="list-topics-content">
      <ul>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-restaurant"></i>
            </div>
            <h2><a routerLink="/console/home">Trang chủ</a></h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-travel"></i>
            </div>
            <h2><a routerLink="/console/danhsachnhanvien">Nhân viên</a></h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-building"></i>
            </div>
            <h2><a routerLink="/console/giave">Giá vé</a></h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-pills"></i>
            </div>
            <h2><a routerLink="/console/lienhe">Liên hệ</a></h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-transport"></i>
            </div>
            <h2><a routerLink="/console/vitri">Vị trí</a></h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>
<!--/.list-topics-->
<!--list-topics end-->

<!--works start -->
<!-- <section id="works" class="works">
  <div class="container">
    <div class="section-header">
      <h2>how it works</h2>
      <p>Learn More about how our website works</p>
    </div> -->
<!--/.section-header-->
<!-- <div class="works-content">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="single-how-works">
            <div class="single-how-works-icon">
              <i class="flaticon-lightbulb-idea"></i>
            </div>
            <h2>
              <a href="#">choose <span> what to</span> do</a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
              eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button
              class="welcome-hero-btn how-work-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="single-how-works">
            <div class="single-how-works-icon">
              <i class="flaticon-networking"></i>
            </div>
            <h2>
              <a href="#">find <span> what you want</span></a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
              eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button
              class="welcome-hero-btn how-work-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="single-how-works">
            <div class="single-how-works-icon">
              <i class="flaticon-location-on-road"></i>
            </div>
            <h2>
              <a href="#">explore <span> amazing</span> place</a>
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do
              eiusmod tempor incididunt ut laboremagna aliqua.
            </p>
            <button
              class="welcome-hero-btn how-work-btn"
              onclick="window.location.href='#'"
            >
              read more
            </button>
          </div>
        </div>
      </div>
    </div> -->
<!-- </div> -->
<!--/.container-->
<!-- </section> -->
<!--/.works-->
<!--works end -->

<!--explore start -->
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2>Gói Massage Nhân Viên Ngẫu Nhiên</h2>
      <p>
        Gói Dịch Vụ Massage Tại Nhà, Khách Sạn Và Căn Hộ Lành Mạnh Chọn Nhân
        Viên Ngẫu Nhiên
      </p>
    </div>
    <!--/.section-header-->
    <div class="explore-content">
      <img
        style="border-radius: 20px"
        height="200px"
        src="../../../../../assets/images/banner/RamdomEL.png"
        alt=""
      />
      <app-button-select
        title="Đặt ngay"
        linkNhanVien="/console/nhanvienngaunhien"
      ></app-button-select>
    </div>
  </div>
  <!--/.container-->
</section>
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2>Gói Massage Chọn Nhân Viên</h2>
      <p>
        Dịch Vụ Massage Tại Nhà, Khách Sạn Và Căn Hộ Lành Mạnh Chọn Nhân Viên
        Theo Yêu Cầu
      </p>
    </div>
    <!--/.section-header-->
    <div class="explore-content">
      <img
        style="border-radius: 20px"
        height="200px"
        src="../../../../../assets/images/banner/SelectEL.png"
        alt=""
      />
      <app-button-select
        title="Chọn Nhân Viên"
        linkNhanVien="/console/danhsachnhanvien"
      ></app-button-select>
    </div>
  </div>
  <!--/.container-->
</section>
<!--subscription strat -->
<!-- <section id="contact" class="subscription">
  <div class="container">
    <div class="subscribe-title text-center">
      <h2>do you want to add your business listing with us?</h2>
      <p>
        Listrace offer you to list your business with us and we very much able
        to promote your Business.
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="subscription-input-group">
          <form action="#">
            <input
              type="email"
              class="subscription-input-form"
              placeholder="Enter your email here"
            />
            <button
              class="appsLand-btn subscribe-btn"
              onclick="window.location.href='#'"
            >
              creat account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--/subscription-->
<!--subscription end -->
