<!--welcome-hero start -->
<section id="home" class="welcome-hero">
  <!-- <div class="hotline">0935053171</div> -->
  <div class="container">
    <div class="welcome-hero-txt">
      <h2>
        {{ "content" | translate }} <br />
        {{ "content2" | translate }}
      </h2>
      <p>
        {{ "content3" | translate }}
      </p>
    </div>
    <!-- <div class="welcome-hero-serch-box">
      <div class="welcome-hero-form">
        <div class="single-welcome-hero-form">
          <form action="" style="width: 100%">
            <input width="100%" type="text" placeholder="Tìm kiếm ngay..." />
          </form>
        </div>
      </div>
      <div class="welcome-hero-serch">
        <button class="welcome-hero-btn" onclick="window.location.href='#'">
          Tìm kiếm <i data-feather="search"></i>
        </button>
      </div>
    </div> -->

    <div class="welcome-hero-txt-bottom">
      <h2>Massage TanNoi</h2>
      <p>{{ "content4" | translate }}</p>
    </div>
  </div>
</section>
<!--/.welcome-hero-->
<!--welcome-hero end -->

<!--list-topics start -->
<section id="list-topics" class="list-topics">
  <div class="container">
    <div class="list-topics-content">
      <ul>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-restaurant"></i>
            </div>
            <h2>
              <a routerLink="/console/home">{{ "home" | translate }}</a>
            </h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-travel"></i>
            </div>
            <h2>
              <a routerLink="/console/danhsachnhanvien">{{
                "employees" | translate
              }}</a>
            </h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-building"></i>
            </div>
            <h2>
              <a routerLink="/console/giave">{{
                "ticket.price" | translate
              }}</a>
            </h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-pills"></i>
            </div>
            <h2>
              <a routerLink="/console/lienhe">{{ "contact" | translate }}</a>
            </h2>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="flaticon-transport"></i>
            </div>
            <h2>
              <a routerLink="/console/vitri">{{ "map" | translate }}</a>
            </h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</section>

<!--explore start -->
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2>{{ "employeeRandomTicket" | translate }}</h2>
      <p>
        {{ "contentEmployeeRandomTicket" | translate }}
      </p>
    </div>
    <!--/.section-header-->
    <div class="explore-content">
      <img
        style="border-radius: 20px"
        height="200px"
        src="{{ 'imgHomeRD' | translate }}"
        alt=""
      />
      <app-button-select
        [title]="'BookNow' | translate"
        linkNhanVien="/console/nhanvienngaunhien"
      ></app-button-select>
    </div>
  </div>
  <!--/.container-->
</section>
<section id="explore" class="explore">
  <div class="container">
    <div class="section-header">
      <h2>{{ "employeeTicket" | translate }}</h2>
      <p>
        {{ "contentEmployeeTicket" | translate }}
      </p>
    </div>
    <!--/.section-header-->
    <div class="explore-content">
      <img
        style="border-radius: 20px"
        height="200px"
        src="{{ 'imgHomeSL' | translate }}"
        alt=""
      />
      <app-button-select
        [title]="'selectEmployee' | translate"
        linkNhanVien="/console/danhsachnhanvien"
      ></app-button-select>
    </div>
  </div>
  <!--/.container-->
</section>
