<app-bread-crumb [title]="title"></app-bread-crumb>

<div class="container">
  <div class="row">
    <div class="col-75">
      <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-50">
            <h3>Thông tin đặt hàng</h3>
            <label for="customerName"><i class="fa fa-user"></i> Họ tên</label>
            <input
              type="text"
              id="fname"
              name="customerName"
              placeholder="John M. Doe"
              formControlName="customerName"
            />
            <div
              *ngIf="
                notificationForm.get('customerName')?.invalid &&
                notificationForm.get('customerName')?.touched
              "
            >
              <small
                *ngIf="notificationForm.get('customerName')?.errors?.['required']"
                >Customer name is required
              </small>
            </div>
            <label for="phoneNumber"
              ><i class="fa fa-phone"></i> Số điện thoại</label
            >
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="0935053171"
              formControlName="phoneNumber"
            />
            <div
              *ngIf="
                notificationForm.get('phoneNumber')?.invalid &&
                notificationForm.get('phoneNumber')?.touched
              "
            >
              <small
                *ngIf="notificationForm.get('phoneNumber')?.errors?.['required']"
                >Phone number is required
              </small>
              <small
                *ngIf="notificationForm.get('phoneNumber')?.errors?.['pattern']"
              >
                Please enter the correct phone number format
              </small>
            </div>
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Địa chỉ</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              formControlName="address"
            />
            <div
              *ngIf="
                notificationForm.get('address')?.invalid &&
                notificationForm.get('address')?.touched
              "
            >
              <small
                *ngIf="notificationForm.get('address')?.errors?.['required']"
                >Address is required
              </small>
            </div>
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Giá gói vé</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              value="{{ item.priceTicket }}"
              disabled
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Thời gian</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              value="{{ item.timeService }}"
              disabled
            />
            <div *ngIf="item.ticketType === 'Vé chọn nhân viên'">
              <label for="adr"
                ><i class="fa fa-address-card-o"></i> Mã số nhân viên</label
              >
              <input
                type="text"
                id="adr"
                name="address"
                value="{{ item.employeeCode }}"
                disabled
              />
            </div>

            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Loại vé</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              value="{{ item.ticketType }}"
              disabled
            />
            <div *ngIf="item.ticketType === 'Vé chọn nhân viên'">
              <label for="adr"
                ><i class="fa fa-address-card-o"></i> Hình ảnh</label
              >
              <input
                name="picture"
                placeholder="542 W. 15th Street"
                id="picture"
                formControlName="picture"
                type="text"
              />
            </div>
          </div>
        </div>
        <label>
          Chỉ thanh toán trực tiếp với nhân viên khi nhân viên đã đến nơi.
          (Không chuyển khoản trước khi nhân viên đến)
        </label>

        <input
          type="submit"
          [disabled]="notificationForm.invalid"
          value="ĐẶT MASSAGE"
          class="btn"
        />
      </form>
    </div>

    <div class="col-25" style="border: 1px solid lightgrey">
      <h4>
        Thông tin đơn hàng
        <span class="price" style="color: black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      <p>
        <a href="#">Giá tiền</a>
        <span class="price">{{ item.priceTicket | number : "1.0-3" }}</span>
      </p>
      <p>
        <a href="#">Số lượng</a> <span class="price">{{ item.count }}</span>
      </p>
      <hr />
      <label> Vé đã bao gồm tip + phí di chuyển </label>
      <p>
        Tổng tiền
        <span class="price" style="color: black"
          ><b
            >{{ item.priceTicket * item.count | number : "1.0-3" }}vnđ</b
          ></span
        >
      </p>
    </div>
  </div>
</div>
