<app-bread-crumb [title]="title"></app-bread-crumb>

<div class="container">
  <div class="row">
    <div class="col-75">
      <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-50">
            <h3>Thông tin đặt hàng</h3>
            <label for="fname"><i class="fa fa-user"></i> Họ tên</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="John M. Doe"
              formControlName="customerName"
            />
            <label for="phoneNumber"
              ><i class="fa fa-phone"></i> Số điện thoại</label
            >
            <input
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="0935053171"
              formControlName="phoneNumber"
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Địa chỉ</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              formControlName="address"
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Giá gói vé</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              value="{{ item.priceTicket }}"
              disabled
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Thời gian</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              value="{{ item.timeService }}"
              disabled
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Mã số nhân viên</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              value="{{ item.employeeCode }}"
              disabled
            />

            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Loại vé</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              value="{{ item.ticketType }}"
              disabled
            />
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Hình ảnh</label
            >
            <input
              name="picture"
              placeholder="542 W. 15th Street"
              id="picture"
              formControlName="picture"
              type="text"
            />
          </div>
        </div>
        <label>
          Chỉ thanh toán trực tiếp với nhân viên khi nhân viên đã đến nơi.
          (Không chuyển khoản trước khi nhân viên đến)
        </label>

        <input type="submit" value="ĐẶT MASSAGE" class="btn" />
      </form>
    </div>

    <div class="col-25" style="border: 1px solid lightgrey">
      <h4>
        Thông tin đơn hàng
        <span class="price" style="color: black">
          <i class="fa fa-shopping-cart"></i>
        </span>
      </h4>
      <p>
        <a href="#">Giá tiền</a>
        <span class="price">{{ item.priceTicket | number : "1.0-3" }}</span>
      </p>
      <p>
        <a href="#">Số lượng</a> <span class="price">{{ item.count }}</span>
      </p>
      <hr />
      <label> Vé đã bao gồm tip + phí di chuyển </label>
      <p>
        Tổng tiền
        <span class="price" style="color: black"
          ><b
            >{{ item.priceTicket * item.count | number : "1.0-3" }}vnđ</b
          ></span
        >
      </p>
    </div>
  </div>
</div>
