<div *ngFor="let nhanvien of nhanviens" class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card box">
    <!--Card image-->
    <div class="view overlay">
      <img
        class="card-img-top"
        src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
        alt="Card image cap"
      />
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body" style="width: 100%">
      <!--Title-->
      <h4 class="card-title" style="font-weight: 700">
        {{ nhanvien.employeeCode }} - Massage tận nơi
      </h4>
      <!--Text-->
      <p class="card-text" style="color: red">200.000đ</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-light-blue btn-md">
        <a routerLink="/console/danhsachnhanvien/1">Đặt Ngay</a>
      </button>
    </div>
  </div>
  <!-- Card -->
</div>
