 <ul>
      <li class="select-opt">
        <img
          class="img-fluid"
          width="50"
          src="https://png.pngtree.com/png-vector/20210908/ourlarge/pngtree-vietnam-flag-png-with-transparent-background-png-image_3917574.jpg"
          alt="Vietnam Flag"
        />
        <select name="language" id="language" (change)="switchLanguage($event)">
          <option value="vi">Việt Nam</option>
          <option value="en">English</option>
          <option value="ko">Korea</option>
        </select>
      </li>
      <li class="select-opt">
        <a href="#"><span class="lnr lnr-magnifier"></span></a>
      </li>
  </ul>

  