:root {
  --color-black: #131921;
  --color-gray: #3b4149;
  --color-orange: #febd69;
  --color-low-black: #232f3e;
  --color-high-orange: #bf4800;
  --color-white: #f5f5f7;
  --color-low-white: #ededed;
  --color-low-gray: #777777;
  --color-low-black: #1c1c1b;
}
